<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#1c1c1c">
    <link rel="stylesheet" type="text/css" media="screen" href="static/css/BaseStyle.css" />
</head>
<body>
    <noscript>Please turn on JavaScript to use this website.</noscript>
    {{{ body }}}
</body>
</html>