<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#1c1c1c">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132485880-1"></script>

    <script>
        // Global site tag (gtag.js) - Google Analytics
        window.dataLayer = window.dataLayer || [];
        function gtag(){
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-132485880-1');
    </script>

    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/Global.css" />
    <link rel="shortcut icon" type="image/png" href="/static/img/favicon.png"/>
    <link rel="shortcut icon" type="image/png" href="https://cdn.xtacy.org/p/faviconpng/"/>

    <script src="/static/js/secu.js"></script>
    <script src="/static/js/config.js"></script>

    <script>
        (()=>{
            validateToken()
                .then((r)=>{
                    if (r==='CSR_TOKEN_VALID')
                        console.log('SR Tokens Verified');
                    else if (r==='CSR_TOKEN_GEN')
                        console.log('SR Tokens Generated');
                    else if (r==='CSR_TOKEN_RENEW')
                        console.log('SR Tokens Renewed');
                    else if (r==='CSR_TIME_VALID')
                        console.log('SR Tokens Valid');
                    generateSecurityFluff(4);
                }).catch((e)=>{
                    console.log(e);
                    if (e==='CSR_TOKEN_INVALID') window.location = 'https://xtacy.org/';
                });
        })()

        function getEventData(_eventId) {
            if (_eventId===undefined) throw 'EVTID_INVALID';
            const eventReq = new XMLHttpRequest();
            eventReq.open('GET', 'https://xtacy.org/register/_eventData/' + _eventId + '/', false);
            eventReq.send();

            if(eventReq.readyState===4 && eventReq.status===200) {
                let eventRes = JSON.parse(eventReq.response);
                if(eventRes.validation) {
                    for (let i = 0; i < eventRes.arb; i++) 
                        eventRes.data = atob(eventRes.data)
                    eventRes.data = JSON.parse(eventRes.data)
                    return eventRes.data;
                } else {
                    throw 'CSRF_INVALID';
                }
            }
        }

        function getEventHash(type, eventId) {
            const hashReq = new XMLHttpRequest();
            hashReq.open('POST', 'https://xtacy.org/register/_checksum/', false);
            hashReq.setRequestHeader('Content-Type', 'application/json');
            hashReq.send(JSON.stringify({ "data": 
                btoa(JSON.stringify({
                    type: type,
                    id: eventId
                }))
            }));

            if(hashReq.readyState===4 && hashReq.status===200) {
                return JSON.parse(hashReq.response).checksum;
            }
        }
    </script>
</head>
<body>
    {{{ body }}}
</body>
</html>