.Compete {
    animation: reveal 750ms ease;
} @keyframes reveal {
    from { opacity: 0 }
    to { opacity: 1 }
}
.Compete .Team {
    display: flex;
    flex-flow: column;
    margin-bottom: 4em;
}

.Compete .Team .fluff {
    height: fit-content;
    margin-top: 1em;
    max-width: 20em;
} .Compete .Team .fluff p {
    max-width: 100%;
} .Compete .Team .fluff h2 {
    font-weight: 600;
}

.Compete .Team .form {
    width: fit-content;
}

.Compete #reg {
    margin: 5em auto;
}

.MemberData {
    flex-flow: column;
}
.Member {
    margin: 1em;
}

.Member .title {
    text-align: left;
    margin-left: 1em;
    font-size: 1em;
}
.Member .team-leader-text {
    background: #ff9e00;
    margin: 0 0.75em;
    font-size: 0.75em;
    float: right;
} .Member .team-leader-text span {
    padding: 0.5em;
}

/* Pricing Display */
.pricing {
    padding: 1em;
    max-width: 20em;
    display: flex;
    flex-flow: column;
    text-align: left;
} .pricing p {
    margin: 0.25em 0;
    max-width: 100%;
} .pricing * {
    margin: 0.5em 0;
}

.pricing #trP {
    font-size: 1em;
} .pricing #tax {
    font-size: 0.75em;
    color: #555;
} .pricing h3 {
    font-weight: 600;
}

@media (min-width: 800px) {
    /* DESKTOP */
    .Compete .Team {
        flex-flow: row;
    }
    .Compete .Team .fluff {
        text-align: right;
        margin-right: 2em;
    } .Compete .Team .fluff p {
        margin: auto 0 auto auto;
        max-width: 75%;
    }
    .MemberData {
        position: relative;
        margin: 2em auto;
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        max-width: 800px;
    }
    .Member {
        margin: auto;
    }
    
}