.Payments {
    animation: reveal 750ms ease;
} @keyframes reveal {
    from { opacity: 0 }
    to { opacity: 1 }
}

.Payments #phone {
    margin-right: auto;
    margin-left: auto;
}

.Payments .form {
    display: flex;
    flex-flow: column;
}
.Payments .form .action {
    display: flex;
    flex-flow: row;
} .Payments .form .action * {
    margin: auto;
}

/* Pricing Display */
.pricing {
    padding: 1em;
    max-width: 20em;
    display: flex;
    flex-flow: column;
    text-align: left;
} .pricing p {
    margin: 0.25em 0;
    max-width: 100%;
} .pricing * {
    margin: 0.5em 0;
}

.pricing #trP {
    font-size: 1em;
} .pricing #tax {
    font-size: 0.75em;
    color: #555;
} .pricing h3 {
    font-weight: 600;
}