.ErrorPage {
    padding: 4em 1em;
    animation: reveal 750ms ease;
} @keyframes reveal {
    from { opacity: 0 }
    to { opacity: 1 }
}

.ErrorPage a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

/* =============================== */

.LoadingPage {
    padding: 10em 1em;
}

/* =============================== */

.SuccessPage {
    padding: 4em 1em;
}

.SuccessPage .rgn {
    margin: 0 1em;
    font-weight: 400;
    font-size: 1.25em;
}

.SuccessPage a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
}