.Tickets {
    display: flex;
    flex-flow: column;
    animation: reveal 750ms ease;
} @keyframes reveal {
    from { opacity: 0 }
    to { opacity: 1 }
}
.Tickets .Details {
    display: flex;
    flex-flow: column;
}

.Tickets .fluff {
    height: fit-content;
    margin-top: 1em;
    max-width: 20em;
} .Tickets .fluff p {
    max-width: 100%;
} .Tickets .fluff h2 {
    font-weight: 600;
}
.Tickets .form {
    width: fit-content;
}

.Tickets #reg {
    margin: 5em auto;
}

/* --------------- Seat Controls ------------ */
.Tickets .Seats {
    display: flex;
    flex-flow: column;
}

.Seats .controls {
    padding: 0;
    max-width: 20em;
}

/* Tiers */
.Seats .controls .tiers {
    display: flex;
    flex-flow: column;
    max-width: 20em;
    margin: 1em 0;
} .Seats .controls .tiers p {
    margin: 0 1em;
    text-align: left;
}

/* Number selector */
.Seats .controls .selector {
    display: flex;
    flex-flow: column;
    max-width: 20em;
    margin: 1em 0;
} .Seats .controls .selector p {
    margin: 0 1em;
    text-align: left;
} 

.Seats .controls .selector .number {
    display: flex;
    flex-flow: row;
}
.Seats .controls .selector .actual-number {
    margin: 0.25em 0.5em;
    text-align: left;
    width: 150px;
}
.Seats .controls .selector .buttons {
    float: right;
    margin: auto auto auto 0;
    display: flex;
    flex-flow: row;
    align-content: center;
    justify-content: center;
}

.Seats .controls .selector label {
    display: inline-block;
    width: 1em;
    margin-left: 0.5em;
    font-size: 2em;
    font-weight: 600;
    transition: all 0.25s ease;
    background-color: var(--yellow);
} .Seats .controls .selector label:hover, .Seats .controls .selector label:active {
    background-color: #ffd800;
}

/* Pricing Display */
.Seats .controls .pricing {
    padding: 1em;
    max-width: 20em;
    display: flex;
    flex-flow: column;
    text-align: left;
} .Seats .controls .pricing p {
    margin: 0.25em 0;
    max-width: 100%;
} .Seats .controls .pricing * {
    margin: 0.5em 0;
}

.Seats .controls .pricing #trP {
    font-size: 1em;
} .Seats .controls .pricing #tax {
    font-size: 0.75em;
    color: #555;
} .Seats .controls .pricing h3 {
    font-weight: 600;
    font-size: 1.5em;
}

@media (min-width: 600px) {
    /* DESKTOP */
    .Tickets {
        flex-flow: column;
    }
    .Tickets .Details {
        flex-flow: row;
    }
    .Tickets .fluff {
        text-align: right;
        margin-right: 2em;
    } .Tickets .fluff p {
        margin: auto 0 auto auto;
        max-width: 75%;
    }

    .Tickets .Seats {
        flex-flow: row;
    }
}