<script src="/static/js/contact.js"></script>
{{!------ ==== PAGE ==== ------}}

{{> header }}

{{!-- START PAGE CONTENT --}}
<section>
    <div class="container fit">
        <h2>Contact</h2>

        <div class="container center">
            <input id="form_name" type="text" class="textbox" placeholder="Name">
            <input id="form_email" type="text" class="textbox" placeholder="Email or Phone">
            <input id="form_msg" type="text" class="textbox" placeholder="Message">
            <button class="button solid" id="login">Send</button>
        </div>

        <p>Upon Contact
            <ul>
                <li>Send email to us about it</li>
                <li>Send email to them about it</li>
                <li>Add them to mailing list</li>
                <li>Maybe send promotional stuff</li>
            </ul>
        </p>
    </div>
</section>
{{!-- END PAGE CONTENT --}}

<script>
    document.getElementById("login").addEventListener('click', ()=>{
        contactRequest({
            name : document.getElementById("form_name").value,
            email : document.getElementById("form_email").value,
            msg : document.getElementById("form_msg").value
        });
    });
</script>

{{> footer }}