{{!------ ==== PAGE ==== ------}}

{{> header }}

{{!-- START PAGE CONTENT --}}
<section>
    <div>
        {{> loading }}
        <h2>Thank you</h2>
        <p>
            Thank you for getting in touch!<br>
            We will soon get back to you.
        </p>
    </div>
</section>
{{!-- END PAGE CONTENT --}}

{{> footer }}