<link rel="stylesheet" type="text/css" media="screen" href="/static/css/Events.css">
{{!------ ==== PAGE ==== ------}}

{{> header }}

{{!-- START PAGE CONTENT --}}
<section>
    <div class="events-container">
        <div class="event-banner">
            <div class="banner">
                <a href="#hackhl">
                    <img src="/static/img/events/hackhl.webp">
                </a>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="events-container">

        <div class="event-card">
            <div class="card"><a href="#hackhl"><img src="/static/img/events/hackhl.webp" alt="Hackathon"></a></div>            
            <h3>Hackathon</h3>
            <h4>29,30 and 31 March</h4>
        </div>
        <div class="event-card">
            <div class="card"><a href="#nerdwd"><img src="/static/img/events/nerdwd.webp" alt="Competitive Coding"></a></div>            
            <h3>Competitive Coding</h3>
            <h4>29,30 and 31 March</h4>
        </div>

        <div class="event-card">
            <div class="card"><a href="#bfmaze"><img src="/static/img/events/bfmaze.webp" alt="Blind Fold Maze"></a></div>            
            <h3>Blind Fold Maze</h3>
            <h4>30 and 31 March</h4>
        </div>

        <div class="event-card">
            <div class="card"><a href="#bridge"><img src="/static/img/events/bridge.webp" alt="Bridge Follower"></a></div>            
            <h3>Bridge Follower</h3>
            <h4>29 March</h4>
        </div>

        <div class="event-card">
            <div class="card"><a href="#caddds"><img src="/static/img/events/caddds.webp" alt="Cadd Designing"></a></div>            
            <h3>Cadd Designing</h3>
            <h4>30 March</h4>
        </div>

        <div class="event-card">
            <div class="card"><a href="#casino"><img src="/static/img/events/casino.webp" alt="Hasino Ka Casino"></a></div>            
            <h3>Hasiona Ka Casino</h3>
            <h4>30 and 31 March</h4>
        </div>

        <div class="event-card">
            <div class="card"><a href="#cityty"><img src="/static/img/events/cityty.webp" alt="City Tycoon"></a></div>            
            <h3>City Tycoon</h3>
            <h4>29 March</h4>
        </div>

        <div class="event-card">
            <div class="card"><a href="#ctflag"><img src="/static/img/events/ctflag.webp" alt="Capture The Flag"></a></div>            
            <h3>Capture The Flag</h3>
            <h4>29 March</h4>
        </div>

        <div class="event-card">
            <div class="card"><a href="#debate"><img src="/static/img/events/debate.webp" alt="Debate"></a></div>            
            <h3>Debate</h3>
            <h4>31 March</h4>
        </div>

        <div class="event-card">
            <div class="card"><a href="#facepn"><img src="/static/img/events/facepn.webp" alt="Face Painting"></a></div>            
            <h3>Face Painting</h3>
            <h4>31 March</h4>
        </div>

        <div class="event-card">
            <div class="card"><a href="#fscreen"><img src="/static/img/events/fscreen.webp" alt="Film Screening"></a></div>            
            <h3>Film Screening</h3>
            <h4>29 March</h4>
        </div>

        <div class="event-card">
            <div class="card"><a href="#fsshow"><img src="/static/img/events/fsshow.webp" alt="Fashion Show"></a></div>            
            <h3>Fashion Show</h3>
            <h4>31 March</h4>
        </div>

        <div class="event-card">
            <div class="card"><a href="#futsal"><img src="/static/img/events/futsal.webp" alt="Futsal"></a></div>            
            <h3>Futsal</h3>
            <h4>30 and 31 March</h4>
        </div>

        <div class="event-card">
            <div class="card"><a href="#gaming"><img src="/static/img/events/gaming.webp" alt="Gaming"></a></div>            
            <h3>Gaming</h3>
            <h4>29 and 30 March</h4>
        </div>

        <div class="event-card">
            <div class="card"><a href="#gdance"><img src="/static/img/events/gdance.webp" alt="Group Dance"></a></div>            
            <h3>Group Dance</h3>
            <h4>30 March</h4>
        </div>

        <div class="event-card">
            <div class="card"><a href="#gnquiz"><img src="/static/img/events/gnquiz.webp" alt="General Quiz"></a></div>            
            <h3>General Quiz</h3>
            <h4>30 March</h4>
        </div>

        <div class="event-card">
            <div class="card"><a href="#gullyc"><img src="/static/img/events/gullyc.webp" alt="Gully Cricket"></a></div>            
            <h3>Gully Cricket</h3>
            <h4>30 and 31 March</h4>
        </div>

        <div class="event-card">
            <div class="card"><a href="#jengaa"><img src="/static/img/events/jengaa.webp" alt="Jenga"></a></div>            
            <h3>Jenga</h3>
            <h4>30 and 31 March</h4>
        </div>

        <div class="event-card">
            <div class="card"><a href="#jukebx"><img src="/static/img/events/jukebx.webp" alt="Jukebox"></a></div>            
            <h3>Jukebox</h3>
            <h4>30 March</h4>
        </div>

        <div class="event-card">
            <div class="card"><a href="#linefl"><img src="/static/img/events/linefl.webp" alt="Line Follower"></a></div>            
            <h3>Line Follower</h3>
            <h4>31 March</h4>
        </div>

        <div class="event-card">
            <div class="card"><a href="#mememk"><img src="/static/img/events/mememk.webp" alt="Meme Making"></a></div>            
            <h3>Meme Making</h3>
            <h4>30 March</h4>
        </div>

        <div class="event-card">
            <div class="card"><a href="#mschef"><img src="/static/img/events/mschef.webp" alt="Masterchef"></a></div>            
            <h3>Masterchef</h3>
            <h4>30 March</h4>
        </div>

        <div class="event-card">
            <div class="card"><a href="#murder"><img src="/static/img/events/murder.webp" alt="Murder Mystery"></a></div>            
            <h3>Murder Mystery</h3>
            <h4>30 March</h4>
        </div>

        <div class="event-card">
            <div class="card"><a href="#nnatak"><img src="/static/img/events/nnatak.webp" alt="Nukkad Natak"></a></div>            
            <h3>Nukkad Natak</h3>
            <h4>30 and 31 March</h4>
        </div>

        <div class="event-card">
            <div class="card"><a href="#photog"><img src="/static/img/events/photog.webp" alt="Photography"></a></div>            
            <h3>Photography</h3>
            <h4>30 March</h4>
        </div>

        <div class="event-card">
            <div class="card"><a href="#psfifa"><img src="/static/img/events/psfifa.webp" alt="Fifa"></a></div>            
            <h3>Fifa</h3>
            <h4>29 March</h4>
        </div>

        <div class="event-card">
            <div class="card"><a href="#pubgmb"><img src="/static/img/events/pubgmb.webp" alt="PubG Mobile"></a></div>            
            <h3>PubG Mobile</h3>
            <h4>29 March</h4>
        </div>

        <div class="event-card">
            <div class="card"><a href="#sdance"><img src="/static/img/events/sdance.webp" alt="Solo Dance"></a></div>            
            <h3>Solo Dance</h3>
            <h4>29 March</h4>
        </div>

        <div class="event-card">
            <div class="card"><a href="#tgowar"><img src="/static/img/events/tgowar.webp" alt="Tug of War"></a></div>            
            <h3>Tug of War</h3>
            <h4>30 and 31 March</h4>
        </div>

        <div class="event-card">
            <div class="card"><a href="#tmbola"><img src="/static/img/events/tmbola.webp" alt="Tambola"></a></div>            
            <h3>Tambola</h3>
            <h4>30 and 31 March</h4>
        </div>

        <div class="event-card">
            <div class="card"><a href="#tshunt"><img src="/static/img/events/tshunt.webp" alt="Treasure Hunt"></a></div>            
            <h3>Treasure Hunt</h3>
            <h4>31 March</h4>
        </div>

        <div class="event-card">
            <div class="card"><a href="#talent"><img src="/static/img/events/talent.webp" alt="talent Hunt"></a></div>            
            <h3>Talent Hunt</h3>
            <h4>29 March</h4>
        </div>

        <div class="event-card">
            <div class="card"><a href="#wrestle"><img src="/static/img/events/wrestle.webp" alt="Arm Wrestling"></a></div>            
            <h3>Arm Wrestling</h3>
            <h4>30 and 31 March</h4>
        </div>
    </div>
</section>

{{!-- EVENT PROMO DRAWER --}}

<input type="checkbox" id="drawer-toggle" hidden="true">
<section class="drawer">
    <div class="container">
        <div class="container"><label for="drawer-toggle" class="close" id="drawer_label"><span></span></label></div>

        <div class="container drawer-content">
            <div class="strip"></div>
            {{> loading }}
            <iframe src="" frameborder="0" id="drawer-event"></iframe>
            <div class="action" id="action">
                <button id="button_main" class="button solid">REGISTER</button>    
                <button id="button_aux" class="button">READ MORE</button>
            </div>
        </div>
    </div>
</section>
<section class="drawer-shadow"></section>
{{!-- END PAGE CONTENT --}}

<script>
    let banners = document.getElementsByClassName("banner");
    let cards = document.getElementsByClassName("card");
    let iframe = document.getElementById("drawer-event");
    let action = document.getElementById("action");
    let loading = document.getElementById("loading");
    let toggle = document.getElementById("drawer-toggle");
    let label = document.getElementById("drawer-label");

    for(let i=0; i<banners.length; i++) {
        banners[i].onclick = () => {
            toggle.checked = true;
            setEventUrl();
        }
    }
    
    for(let j=0; j<cards.length; j++) {
        cards[j].onclick = () => {
            toggle.checked = true;
            setEventUrl();
        }
    }

    function setEventUrl() {
        setTimeout(function(){
            let eventId = window.location.href.split('#')[1];
            console.log(eventId)
            let data, checksum
            getEventData(eventId, (_data)=>{
                data = _data;
                getEventHash(data.type, eventId, (hash)=>{
                    checksum = hash;        
                    if (toggle.checked===true) {
                        if (eventId!==undefined) iframe.src = '/event/' + eventId + '/promo';

                        document.getElementById("button_main").onclick = () => {
                            sessionStorage.setItem( config.hashToken, checksum );
                            if(data.type==='gen')
                                window.location = '/register/main?int=gen';
                            else
                                window.location = '/register/main?int=' + data.type + '&evt=' + eventId;    
                        }   
                        document.getElementById("button_aux").onclick = () => {
                            console.log("****")
                            window.location = '/event/' + eventId;  
                        }
                    }
                });
            });
        }, 100);
    }

    window.onload = () => {
        let url = window.location.href.split('#')[1];
        if (url!==undefined) {
            toggle.checked = true;
            setEventUrl();
        }
    }

    toggle.onchange = () => {
        if (toggle.checked===false) {
            iframe.src = '';
            window.history.pushState({ "Title" : "EVENTS" , "Url" : "/events"}, "EVENTS", "/events");
        }
    }

    iframe.onload = () => {
        $(iframe).removeClass("disappear");
        $(iframe).addClass("appear");

        $(loading).removeClass("appear");
        $(loading).addClass("disappear");
    }

    label.addEventListener('click', ()=>{
        $(loading).removeClass("disappear");
        $(loading).addClass("appear");

        $(iframe).removeClass("appear");
        $(iframe).addClass("disappear");
    })
</script>

{{> footer }}