<link rel="stylesheet" type="text/css" media="screen" href="./static/css/Events.css">
{{!------ ==== PAGE ==== ------}}

{{> header }}

{{!-- START PAGE CONTENT --}}
<section>
    <div class="container banner-container">
        <div class="banner"><img src="./static/img/thumb.jpg"></div>
    </div>
    <div class="container banner-container">
        <div class="banner small"></div>
        <div class="banner small"><img src="./static/img/favicon.png"></div>
        <div class="banner small"></div>
    </div>
    <div class="container banner-container">
        <div class="banner small"><img src="./static/img/thumb.jpg"></div>
        <div class="banner small"></div>
        <div class="banner small"></div>
        <div class="banner small"></div>
    </div>
</section>
{{!-- END PAGE CONTENT --}}

{{> footer }}