<link rel="stylesheet" type="text/css" media="screen" href="/static/css/Events.css">
{{!------ ==== PAGE ==== ------}}

{{> header }}

{{!-- START PAGE CONTENT --}}
<section>
    <div class="events-container">
        <div class="event-banner">
            <div class="banner">
                <a href="#hackhl">
                    <img src="/static/img/thumb.png">
                </a>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="events-container">
        <div class="event-card">
            <div class="card"><a href="#"><img src="/static/img/thumb.png" alt=""></a></div>            
            <h3>Event Title</h3>
            <h4>Subtitle</h4>
        </div>

        <div class="event-card">
            <div class="card"><a href="#"><img src="/static/img/thumb.png" alt=""></a></div>            
            <h3>Event Title</h3>
            <h4>Subtitle</h4>
        </div>

        <div class="event-card">
            <div class="card"><a href="#"><img src="/static/img/thumb.png" alt=""></a></div>            
            <h3>Event Title</h3>
            <h4>Subtitle</h4>
        </div>

        <div class="event-card">
            <div class="card"><a href="#"><img src="/static/img/thumb.png" alt=""></a></div>            
            <h3>Event Title</h3>
            <h4>Subtitle</h4>
        </div>

        <div class="event-card">
            <div class="card"><a href="#"><img src="/static/img/thumb.png" alt=""></a></div>            
            <h3>Event Title</h3>
            <h4>Subtitle</h4>
        </div>

        <div class="event-card">
            <div class="card"><a href="#"><img src="/static/img/thumb.png" alt=""></a></div>            
            <h3>Event Title</h3>
            <h4>Subtitle</h4>
        </div>

        <div class="event-card">
            <div class="card"><a href="#"><img src="/static/img/thumb.png" alt=""></a></div>            
            <h3>Event Title</h3>
            <h4>Subtitle</h4>
        </div>

        <div class="event-card">
            <div class="card"><a href="#"><img src="/static/img/thumb.png" alt=""></a></div>            
            <h3>Event Title</h3>
            <h4>Subtitle</h4>
        </div>

        <div class="event-card">
            <div class="card"><a href="#"><img src="/static/img/thumb.png" alt=""></a></div>            
            <h3>Event Title</h3>
            <h4>Subtitle</h4>
        </div>
    </div>
</section>

{{!-- EVENT PROMO DRAWER --}}

<input type="checkbox" id="drawer-toggle" hidden="true">
<section class="drawer">
    <div class="container">
        <div class="container"><label for="drawer-toggle" class="close" id="drawer_label"><span></span></label></div>

        <div class="container drawer-content">
            <div class="strip"></div>
            {{> loading }}
            <iframe src="" frameborder="0" id="drawer-event"></iframe>
            <div class="action" id="action">
                <button id="button_main" class="button solid">REGISTER</button>
                <button id="button_aux" class="button">READ MORE</button>
            </div>
        </div>
    </div>
</section>
<section class="drawer-shadow"></section>
{{!-- END PAGE CONTENT --}}

<script>
    let banners = document.getElementsByClassName("banner");
    let cards = document.getElementsByClassName("card");
    let iframe = document.getElementById("drawer-event");
    let action = document.getElementById("action");
    let loading = document.getElementById("loading");
    let toggle = document.getElementById("drawer-toggle");
    let label = document.getElementById("drawer-label");

    for(let i=0; i<banners.length; i++) {
        banners[i].onclick = () => {
            toggle.checked = true;
            setEventUrl();
        }
    }
    
    for(let j=0; j<cards.length; j++) {
        cards[j].onclick = () => {
            toggle.checked = true;
            setEventUrl();
        }
    }

    function setEventUrl() {
        setTimeout(function(){
            let eventId = window.location.href.split('#')[1];
            let data, checksum
            getEventData(eventId, (_data)=>{
                data = _data;
                getEventHash(data.type, eventId, (hash)=>{
                    checksum = hash;        
                    if (toggle.checked===true) {
                        if (eventId!==undefined) iframe.src = '/event/' + eventId + '/promo';

                        document.getElementById("button_main").onclick = () => {
                            sessionStorage.setItem( config.hashToken, checksum );
                            if(data.type==='gen')
                                window.location = '/register/main?int=gen';
                            else
                                window.location = '/register/main?int=' + data.type + '&evt=' + eventId;
                        }
                        document.getElementById("button_aux").onclick = () => {
                            window.location = '/event/' + eventId;
                        }
                    }
                });
            });
        }, 100);
    }

    window.onload = () => {
        let url = window.location.href.split('#')[1];
        if (url!==undefined) {
            toggle.checked = true;
            setEventUrl();
        }
    }

    toggle.onchange = () => {
        if (toggle.checked===false) {
            iframe.src = '';
            window.history.pushState({ "Title" : "EVENTS" , "Url" : "/events"}, "EVENTS", "/events");
        }
    }

    iframe.onload = () => {
        $(iframe).removeClass("disappear");
        $(iframe).addClass("appear");

        $(loading).removeClass("appear");
        $(loading).addClass("disappear");
    }

    label.addEventListener('click', ()=>{
        $(loading).removeClass("disappear");
        $(loading).addClass("appear");

        $(iframe).removeClass("appear");
        $(iframe).addClass("disappear");
    })
</script>

{{> footer }}