<link rel="stylesheet" type="text/css" media="screen" href="/static/css/Events.css">
{{!------ ==== PAGE ==== ------}}

{{> header }}

<script>
    var __data;
    window.onload = () => {
        __data = JSON.parse(document.getElementById("__data").innerHTML);
    }
</script>

{{!-- START PAGE CONTENT --}}
<section>
    {{#with page}}
        <div>
            {{{ content }}}
        </div>

        <div id="__data" hidden="true">{{ data }}</div>
    {{/with}}
</section>
{{!-- END PAGE CONTENT --}}

<script>
    setTimeout(function(){
        document.getElementById("reg").onclick = () => {
            if(__data.type==='gen')
                __data.eventId = 'any';
            let checksum = getEventHash(__data.type, __data.eventId);
            sessionStorage.setItem( config.hashToken, checksum );
            
            if(__data.type==='gen')
                window.location = '/register/main?int=gen';
            else
                window.location = '/register/main?int=' + __data.type + '&evt=' + __data.eventId;
        }
    }, 100)
</script>

{{> footer }}