<link rel="stylesheet" type="text/css" media="screen" href="./static/css/Events.css">
{{!------ ==== PAGE ==== ------}}

{{> header }}

{{!-- START PAGE CONTENT --}}
<section>
    <div class="banner-container">
        <div class="event">
            <div class="banner">
                <a href="#">
                    <img src="./static/img/thumb.png">
                </a>
            </div>

            <h3>Event XYZ</h3>
            <p class="left">Lorem ipsum ist dolor vala</p>
        </div>

        <div class="event">
            <div class="banner">
                <a href="#">
                    <img class="mobile" src="./static/img/JMI Logo.png">
                    <img class="desktop" src="./static/img/thumb.png">
                </a>
            </div>

            <h3>Event ABCD</h3>
            <p class="left">Lorem ipsum ist dolor vala</p>
        </div>
    </div>
    

    <div class="banner-container">
        <div class="banner small"><img src="./static/img/thumb.png"></div>
        <div class="banner small"><a href="#"><img src="./static/img/thumb.png"></a></div>
        <div class="banner small"><img src="./static/img/thumb.png"></div>
    </div>
    <div class="banner-container">
        <div class="banner small"><a href="#"><img src="./static/img/thumb.png"></a></div>
        <div class="banner small"></div>
        <div class="banner small"></div>
        <div class="banner small"></div>
    </div>
</section>
{{!-- END PAGE CONTENT --}}

{{> footer }}