<link rel="stylesheet" type="text/css" media="screen" href="/static/css/Homepage.css">
<link rel="stylesheet" type="text/css" media="screen" href="/static/css/Events.css">
<script src="/static/js/particles.min.js"></script>
<script src="/static/js/jquery.parallaxify.min.js"></script>
{{!------ ==== PAGE ==== ------}}

{{> header }}

{{!-- START PAGE CONTENT --}}
<section class="grid">
    {{!-- Front Page - Above Fold --}}
    <div class="hero">
        <div class="embelishments" id="embelishments">
            <div id="invert-filter"></div>
            <div class="particles" id="particles" data-parallaxify-range="50"></div>
            <div id="moon" data-parallaxify-range="150">
                <img src="/static/img/Moon.png" alt="moon">
            </div>
        </div>
        
        <div class="Dates">
            <h3>25<span class="noKerning">----</span>27</h3>
            <h3>March</h3>
        </div>

        <div class="Alex" id="Alex">
            <img src="/static/img/AlexM.png" class="mobile" alt="alex">
            <img src="/static/img/AlexD.png" class="desktop" alt="alex">
        </div>
        
        <h1 class="Title">xtacy</h1>
        <div class="Info">
            <p>The annual techno-cultural extravaganza organized by the 
                Faculty of Engineering and Technology, Jamia Millia Islamia</p>
        </div>
    </div>    
</section>

<div class="tagline">
    {{!-- Tagline --}}
    <p>contact light</p>
</div>

<section class="nogrid">
    {{!-- Front Page - Above Fold --}}
    <div class="hero">
        <div class="Alex">
            <img src="/static/img/AlexM.png" class="mobile" alt="alex">
            <img src="/static/img/AlexD.png" class="desktop" alt="alex">
        </div>

        <div class="Textual">
            <h1 class="Title">xtacy</h1> 
            <div class="Dates">
                <h3>25-27</h3>
                <h3>March</h3>
            </div>
 
            <div class="Info">
                <p>The annual techno-cultural roller coaster festival organized by the 
                    Faculty of Engineering and Technology, Jamia Millia Islamia</p>
            </div>
        </div>        
    </div>
</section>

<section>
    {{!-- About Us --}}
    <div class="about container">
        <h3>dont judge, website is under construction</h3>
        <h2>Dominum Nostrum</h2>
        <p class="justify">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lectus enim, 
            porta interdum tincidunt vitae, efficitur a quam. Duis in leo erat. Vestibulum 
            convallis justo in nunc sodales, nec ullamcorper urna laoreet. Morbi nisi arcu, 
            ultrices vitae lorem sed, cursus laoreet arcu. Proin diam ligula, laoreet 
            vitae nibh ut, rhoncus fringilla enim. Vivamus ut eros porta, posuere nisl ut, 
            tincidunt enim. Sed ut massa sit amet lorem viverra mattis quis et justo. 
            Praesent consequat imperdiet elit, ut tempus nibh. Ut sagittis semper pretium. 
            Nam eleifend, elit eu pulvinar mollis, nulla nulla blandit felis, eu 
            mattis nulla metus tempor urna. Proin varius porttitor tristique.
        </p>
    </div>
</section>

<section class="slideshow-container">
    {{!-- Previous Years Slideshow --}}
    <div class="slideshow">
        <div class="slide" id="sl-1" style="display: flex"><img src="/static/img/hero/2.png"></div>
        <div class="slide" id="sl-2" style="display: none"><img src="/static/img/hero/3.png"></div>
        <div class="slide" id="sl-3" style="display: none"><img src="/static/img/hero/4.png"></div>
        <div class="slide" id="sl-4" style="display: none"><img src="/static/img/hero/5.png"></div>
        <div class="slide" id="sl-5" style="display: none"><img src="/static/img/hero/6.png"></div>
        <div class="slide" id="sl-6" style="display: none"><img src="/static/img/hero/7.png"></div>
    </div>
</section>

<section>
    {{!-- Slideshow of Title and Co-Sponsors --}}
    <div class="sponsors">
        <marquee behavior="scrolling" direction="left">
            <img src="/static/img/sponsors/collaborators.png">
        </marquee>
    </div>
</section>

<section>
    {{!-- Call to Action --}}
    <div class="cta">

    </div>
</section>

<section class="map-container">
    {{!-- Google Map of the Location --}}
    <div class="map">
        <iframe width="60%" height="300" id="map-desktop" src="https://maps.google.com/maps?q=Faculty%20of%20Engineering%20Jamia&t=&z=13&ie=UTF8&iwloc=&output=embed">
        </iframe>
        <iframe width="90%" height="300" id="map-mobile" src="https://maps.google.com/maps?q=Faculty%20of%20Engineering%20Jamia&t=&z=13&ie=UTF8&iwloc=&output=embed">
        </iframe>
    </div>
</section>
{{!-- END PAGE CONTENT --}}

{{> footer }}

<script>
    particlesJS.load('particles', '/static/js/particleConfig.json', ()=>{});
</script>

<script>
    $.parallaxify(parallaxConfig);
</script>

<script>
    var slides = [
        document.getElementById("sl-1"),
        document.getElementById("sl-2"),
        document.getElementById("sl-3"),
        document.getElementById("sl-4"),
        document.getElementById("sl-5"),
        document.getElementById("sl-6"),
    ];
    var i = 0;
    (function nextSlide() {
        setTimeout(function(){
            slides[i].style = 'display: none';
            if(i===slides.length-1) i = 0;
            else i++;
            slides[i].style = 'display: flex';
            nextSlide();
        }, 5000);
    })()

    // var j = 0;
    // (function invert() {
    //     setTimeout(function(){
    //         document.getElementById("Alex").style = "filter: invert(" + j + "%);";
    //         if(j===100) j = 0;
    //         else j++;
    //         invert();
    //     }, 100)
    // })()

    // window.addEventListener("scroll", ()=>{
    //     // Disable parallax when the div is out of view
    //     // This will save processing power on mobile phones
    //     var { bottom } = document.getElementById("embelishments").getBoundingClientRect();
    //     if (bottom >= 0) {
    //         document.getElementById("moon").setAttribute("data-parallaxify-range", "100");
    //         document.getElementById("Alex").setAttribute("data-parallaxify-range", "100");
    //         document.getElementById("particles").setAttribute("data-parallaxify-range", "100");
    //         console.log('In the viewport!');
    //     } else {
    //         document.getElementById("moon").setAttribute("data-parallaxify-range", "0");
    //         document.getElementById("Alex").setAttribute("data-parallaxify-range", "0");
    //         document.getElementById("particles").setAttribute("data-parallaxify-range", "0");
    //         console.log('Not in the viewport... whomp whomp');
    //     }
    //     // Currently not working
    // });
</script>