<link rel="stylesheet" type="text/css" media="screen" href="static/css/Home.css" />

{{!-- HEADER --}}
{{> header }}

{{!-- CONTENT --}}

<div class="background">
    <div class="title">
        <p class="name">ENCO</p>
        <p class="btn">Coming Soon</p>
    </div>
</div>

{{!-- FOOTER --}}
{{> footer }}