<script></script>
<link rel="stylesheet" href="static/css/Homepage.css">

{{!------ ==== PAGE ==== ------}}

{{> header }}

{{!-- START PAGE CONTENT --}}
<section>
    <div class="hero">
        
    </div>
</section>
{{!-- END PAGE CONTENT --}}

{{> footer }}