<link rel="stylesheet" type="text/css" media="screen" href="static/css/Homepage.css">
{{!------ ==== PAGE ==== ------}}

{{> header }}

{{!-- START PAGE CONTENT --}}
<section>
    <div class="hero">
        <p>xtacy</p>
        <div class="rotary-container"><div class="rotary"></div></div>
        <button class="btn solid">Register</button>
        <button class="btn">Read More</button>
    </div>

</section>
{{!-- END PAGE CONTENT --}}

{{> footer }}