<link rel="stylesheet" type="text/css" href="/static/css/Reach.css">
{{!------ ==== PAGE ==== ------}}

{{> header }}

{{!-- START PAGE CONTENT --}}
<section>
    <div>
        <h1>Venue</h1>
        <p>Xtacy will be held in Jamia Millia Islamia, Faculty of Engineering and Technology on the 29th, 30th and 31st of March</p>
    </div>
</section>

<section class="map-container">
    <div class="map">
        <iframe height="300px" id="map-desktop" src="https://maps.google.com/maps?q=Faculty%20of%20Engineering%20Jamia&t=&z=13&ie=UTF8&iwloc=&output=embed"></iframe>
    </div>
</section>
{{!-- END PAGE CONTENT --}}

{{> footer }}