{{!------ ==== PAGE ==== ------}}

{{> header }}

{{!-- START PAGE CONTENT --}}
<section>
    <div class="container center">
        {{> loading }}

        <h2>Login</h2>
        <form action="#">
            <div class="container center">
                {{!-- <input id="name" type="text" class="textbox" placeholder="Name" autocomplete="given-name"> --}}
                <input id="email" type="text" class="textbox" placeholder="Email or Phone" autocomplete="email" required="true">
                <input id="password" type="password" class="textbox" placeholder="Password" autocomplete="current-password" required="true">
                <button class="button solid" id="login">Register</button>
            </div>
        </form>

        <p>Or continue with</p>
        <div>
            <button class="button solid small red">Google</button>
            <button class="button solid small">GitHub</button>
        </div>
    </div>
</section>
{{!-- END PAGE CONTENT --}}

{{> footer }}

<script>
    document.getElementById("login").onclick = () => {
        $(document.getElementById("email")).addClass("error");
        $(document.getElementById("loading")).addClass("fadeout");
    }
</script>