{{!------ ==== PAGE ==== ------}}

{{> header }}

{{!-- START PAGE CONTENT --}}
<section>
    <div class="container center">
        <h2>Register</h2>

        <p>
            The registrations for Xtacy'19 have not started. Stay tuned!
        </p>

        <button class="button solid" id="reg">REGISTER</button>   
        {{!-- <form action="#"> --}}
            {{!-- <div class="container center"> --}}
                {{!-- <input id="name" type="text" class="textbox" placeholder="Name" autocomplete="given-name"> --}}
                {{!-- <input id="email" type="text" class="textbox" placeholder="Email or Phone" autocomplete="email" required="true"> --}}
                {{!-- <input id="password" type="password" class="textbox" placeholder="Password" autocomplete="current-password" required="true"> --}}
                {{!-- <button class="button solid" id="reg">Register</button> --}}
            {{!-- </div> --}}
        {{!-- </form> --}}
    </div>
</section>
{{!-- END PAGE CONTENT --}}

{{> footer }}

<script>
    window.onload = () => {
        getEventHash('gen', 'any', (hash)=>{
            sessionStorage.setItem( config.hashToken, hash );
            document.getElementById("reg").onclick = () => {
                window.location = '/register/main?int=gen';
            }
        });
    }        
</script>