{{!------ ==== PAGE ==== ------}}

{{> header }}

{{!-- START PAGE CONTENT --}}
<section>
    <div>
        <h2>TERMS AND CONDITIONS</h2>
    </div>
</section>

<section>
    <div>
        <h3>GENERAL RULES</h3>
    </div>
    <div>
        <p class="justify">Entry to the premises of Jamia Millia Islamia will only be granted after checking your registration and ID. 
        Please carry a valid college/school ID or a government issued photo identity proof with you for verification.</p>

        <p class="justify">Please cooperate with the staff as well as Jamia Millia Islamia’s security personel. Misbehavior with the staff or Jamia Millia Islamia’s 
        security staff will result in a penalty, cancellation of participation, eviction from premises of the University or all of these.</p>

        <p class="justify">Forging a ticket and/or payment receipt is an offense and will entail criminal prosecution.</p>

        <p class="justify">Please be mindful of where you park your vehicles. They should not be a hindrance to regular traffic. Please be informed that participants’ 
        vehicles will not be allowed inside the gates. Vehicles, which do not bear the JMI Vehicle Authorization and Registration sticker, are not allowed 
        inside the gates of the University.</p>

        <p class="justify">Please take care of your belongings like jewelry, electronics, cash etc., as you yourself are responsible for them. We suggest that you should 
        not carry more items of value than you can effectively handle. Jamia Millia Islamia and the staff are not responsible for any personal 
        items and will not be liable to cover any losses incurred by the misplacement of said items under any circumstances.</p>

        <p class="justify">The organizers reserve the right to evict from the premises of the University and/or cancel the participation of any delegate or participant 
        in general who is found to engage in such unorderly conduct as to intentionally disrupt the proceedings of the conference or hurt the reputation 
        of the University. Any attempt to sabotage the event will entail grave consequences. Any participants found to be intentionally damaging the 
        University’s i.e. public/government property will be seen as equally guilty.</p>

        <p class="justify">Intentionally hurting mentally or physically, causing grievous bodily harm or harassing other participants mentally or physically is a 
        criminal offence and any such events will be brought to the notice of the concerned authorities immediately, which will entail the full 
        penalty as prescribed by law.</p>
    </div>
</section>

<section>
    <div>
        <h3>REFUND POLICY</h3>
    </div>
    <div>
        <p class="justify">// REDO The delegate fee for any allotted delegate is non-refundable once the payment has been made. In very rare circumstances, the Secretariat 
        may decide to refund the delegate fee for a delegate who is able to present genuine reasons for cancellation of their participation 
        and their need for a refund.</p>
    </div>
</section>

<section>
    <div>
        <h3>GRIEVANCE REDRESSAL </h3>
    </div>
    <div>
        <p class="justify">Please bring all grievances and other such matters to the notice of the Secretariat. We will ensure that we solve all such conflicts to 
        the best of your capacity. In case the matter is not resolved, it will be brought to the notice of the appropriate authorities. 
        Conflicts on the campus of Jamia Millia Islamia fall under the jurisdiction of the Chief Proctor of Jamia Millia Islamia.</p>

        <p class="justify">All other matters will be subject to the jurisdiction of the government of the NCT of Delhi.</p>

        <p class="justify">Jamia Millia Islamia disclaims any liability or responsibility of damages caused during the event.</p>
    </div>
</section>
{{!-- END PAGE CONTENT --}}

{{> footer }}