.events-container {
    padding: 1em;
    margin: auto auto;
    height: fit-content;
    max-width: 1200px;
    display: flex;
    flex-flow: row wrap;
    position: relative;
    align-items: flex-start;
}

.event-banner {
    position: relative;
    height: fit-content;
    margin: 1em;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
} @media (max-width: 600px) {
    .event-banner {
        margin: 1em 0 1em 0;
    }
}
.banner {
    position: relative;
    width: 100%;
    height: 24em;
    background-color: #000;
    margin: 1em 0 1em 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
} .banner a {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    /* Inherit parent layout for clickable banners */
    overflow: inherit;
    display: inherit;
    flex-direction: inherit;
    align-content: inherit;
    justify-content: inherit;
} .banner img {
    max-height: 100%;
    object-fit: cover;
    transition: all 0.25s ease;
} .banner:active img {
    opacity: 0.85;
} .banner:hover img {
    transform: scale(1.025);
} @media (max-width: 600px) {
    .banner {
        height: 16em;
    }
}

/*  */
.event-card {
    position: relative;   
    height: fit-content;
    text-align: left;
    width: 16em;
    flex: 1 1 12em;
    margin: 1em;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
} @media (max-width: 600px) {
    .event-card {
        flex: 1 1 8em;
    }
}
.event-card h3 {
    font-size: 1.25em;
} .event-card h4 {
    font-size: 0.85em;
    color: #aaa;
    margin: 0;
}
.card {
    position: relative;
    width: 100%;
    height: 20em;
    background-color: #000;
    margin: 1em 0 1em 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
} .card a {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    /* Inherit parent layout for clickable cards */
    overflow: inherit;
    display: inherit;
    flex-direction: inherit;
    align-content: inherit;
    justify-content: inherit;
} .card img {
    max-height: 100%;
    object-fit: cover;
    transition: all 0.25s ease;
} .card:active img {
    opacity: 0.85;
} .card:hover img {
    transform: scale(1.025);
} @media (max-width: 600px) {
    .card {
        height: 16em;
    }
}

/* Adaptive Images */
img[class~="mobile"] {
    display: block;
} img[class~="desktop"] {
    display: none;
} @media (min-width: 800px) {
    img[class~="mobile"] {
        display: none;
    } img[class~="desktop"] {
        display: block;
    }
}

/* ======= Small Banners ======= */

.small[class~="banner"] {
    height: 10em;
}  @media (min-width: 600px) {
    .small[class~="banner"] {
        height: 12em;
    }
}

/* ============================ EVENT PROMO DRAWER ============================ */

.drawer {
    position: fixed;
    height: 0;
    width: 100vw;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: 12000;
    background-color: #fff;
    padding: 2em;
    transition: all 0.75s ease;
} #drawer-toggle:checked ~ .drawer {
    opacity: 1;
    height: 100vh;
}
.drawer .container {
    padding: 0;
}

/* DRAWER SHADOW */
.drawer-shadow {
    position: fixed;
    display: none;
    opacity: 0;
    animation: show 0.25s ease reverse;
    width: 100%;
    height: 100%;
    z-index: 10000;
} #drawer-toggle:checked ~ .drawer-shadow {
    display: block;
    opacity: 0.6;
    background-color: #000;
    animation: drawerShadow 1s ease;
} @keyframes drawerShadow {
    from { opacity: 0 } to { opacity: 0.6 }
}

/* === Close Button === */

.drawer .close {
    position: absolute;
    top: 2em;
    right: 1em;
    display: block;
    margin: auto 0 auto auto;
    height: 100%;
    padding: 1em;
    padding-right: 0; 
    justify-self: center;
    align-self: flex-end;
    z-index: 11000;
}
.drawer .close span,
.drawer .close span::before,
.drawer .close span::after {
    display: block;
    position: relative;
    background: #000;
    height: 2px;
    width: 25px;
    transition: all 0.25s ease;
}
.drawer .close span::before,
.drawer .close span::after {
    content: '';
    position: absolute;
}
.drawer .close span::before {
	bottom: 0;
	transform: rotate(-45deg);
}
.drawer .close span::after {
	top: 0;
	transform: rotate(45deg);
}
.drawer .close span {
	background: transparent;
}

/* ----------------- DRAWER CONTENT ----------------- */

.drawer-content {
    height: 85vh;
    position: relative;
    margin-top: 4em;
}
.drawer-content * {
    margin-top: auto;
    margin-bottom: auto;
    transition: all 0.25s ease;
}
.drawer-content iframe {
    height: 100%;
    display: none;
}
.drawer .drawer-content .loading {
    animation-delay: 0ms;
}

.appear {
    display: block !important; 
    animation: fade-content 0.25s ease;
}
.disappear { 
    display: none !important;
    animation: fade-content 0.25s ease reverse;
}
@keyframes fade-content {
    from { opacity: 0 } to { opacity: 1 }
}

.drawer-content .strip {
    position: absolute;
    width: 1.125em;
    height: 100%;
    right: 0;
    top: 0;
    background-color: #fff;
    z-index: 15000;
} @media (max-width: 600px) {
    .drawer-content .strip {
        display: none;
    }
}

/* ==== DRAWER CONTENT ACTION ==== */
.drawer-content .action {
    padding: 1em;
    margin: 1em auto;
    max-width: 600px;
    display: grid;
    grid-template-columns: minmax(4em, 12em)  minmax(4em, 12em);
    grid-template-rows: 1fr;
    grid-auto-flow: row;
    grid-gap: 1em;
    animation: fade-action 0.25s ease 1s;
} @keyframes fade-action {
    from { opacity: 0 } to { opacity: 1 }
}

.drawer-content .action * {
    margin: 0;
} .drawer-content .action .button {
    width: 100%;
}