header {
    width: 100%;
}
header .container {
    flex-direction: row;
}
/* ========================================== */

.hamburger {
    display: block;
    margin: auto 0 auto auto;
    height: 100%;
    padding: 1em;
    padding-right: 0.5em; 
    justify-self: center;
    align-self: flex-end;
    z-index: 1000;
}
.hamburger span,
.hamburger span::before,
.hamburger span::after {
    display: block;
    position: relative;
    background: #000;
    height: 2px;
    width: 25px;
    transition: all 0.25s ease;
}
.hamburger span::before,
.hamburger span::after {
    content: '';
    position: absolute;
}
.hamburger span::before {
    bottom: 7px;
}
.hamburger span::after {
    top: 7px;
}

#sidebar-toggle:checked ~ .hamburger span::before {
	bottom: 0;
	transform: rotate(-45deg);
} #sidebar-toggle:checked ~ .hamburger span {
	background: transparent;
} #sidebar-toggle:checked ~ .hamburger span::after {
	top: 0;
	transform: rotate(45deg);
}

/* SIDEBAR MENU --------------------- */
.sidebar {
    position: absolute;
    height: 100%;
    width: 0;
    top: 0;
    right: 0;
    opacity: 0;
    z-index: 100;
    /* background: linear-gradient(#ffe75c, #ffc05c); */
    background-color: #fff;
    transition: all 0.25s ease;
} #sidebar-toggle:checked ~ .sidebar {
    opacity: 1;
    width: 60%;
} 

.sidebar .accent {
    position: absolute;
    width: 0;
    height: 15em;
    top: 6em;
    left: 0;
    z-index: -1;
    opacity: 0;
    background-color: rgb(255, 255, 0, 0.75);
    transition: all 0.25s ease;
}  #sidebar-toggle:checked ~ .sidebar .accent {
    width: 3.25em;
    opacity: 1;
}

/* SIDEBAR SHADOW */
.sidebar-shadow {
    position: absolute;
    display: none;
    opacity: 0;
    animation: show 0.25s ease reverse;
    width: 100%;
    height: 100%;
    margin: -1em;
} #sidebar-toggle:checked ~ .sidebar-shadow {
    display: block;
    opacity: 0.6;
    background-color: #000;
    animation: show 0.5s ease;
} @keyframes show {
    from { opacity: 0 } to { opacity: 0.6 }
}

/* NAVIGATION */
header .sidebar-nav {
    display: block;
    margin: 8em 2.5em;
    width: 50%;
    height: fit-content;
    justify-self: center;
    align-self: flex-end;
    text-align: left;
} header .sidebar-nav ul {
    margin: 0;
    padding: 0;
    font-size: 0.9em;
    list-style: none;
} header .sidebar-nav li {
    margin-bottom: 0.75em;
    width: fit-content;
} .sidebar li {
    display: none;
    opacity: 0;
    transition: all 0.25s ease;
} #sidebar-toggle:checked ~ .sidebar li {
    display: block;
    opacity: 1;
}

/* DESKTOP MENU --------------------- */

.desktop-nav {
    display: none;
}
@media (min-width: 800px) {
    header .sidebar {
        display: none;
        right: -60%;
    } #sidebar-toggle:checked ~ .sidebar {
        display: none;
    } header .sidebar-nav {
        display: none;
    } header .hamburger {
        display: none;
    }

    header .desktop-nav {
        display: block;
        margin: auto auto;
        width: 100%;
        height: fit-content;
        justify-self: center;
        align-self: flex-end;
    } header .desktop-nav ul {
        margin: 0 2em;
        font-size: 0.9em;
        list-style: none;
        float: right;
    } header .desktop-nav li {
        display: inline-block;
        text-align: center;
        position: relative;
        margin: 0 1em 0.25em 1em;
    }
}

header ul li a {
    text-decoration: none;
    color: #000;
} header a::after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 1.5px;
    top: 50%;
    transition: all 250ms ease;
    background-color: #000;
} @media (min-width:600px) {
    header a:hover::after {
        width: 100%;
    }
}

/* =========================================== */

.logo {
    margin: 1em;
    width: fit-content;
    height: fit-content;
    position: relative;
}

.logo .logo-text {
    font-size: 24px;
    font-weight: 500;
    margin: 0 0;
}

.logo-rotor {
    width: 4em;
    height: 1.25em;
    top: -0.15em;
    left: -0.5em;
    position: absolute;
}