.promo {
    max-width: 800px;
    margin: 1em auto;
}

.promo * {
    padding: 0;
} .promo .banner {
    margin: 0;
    margin-bottom: 1em;
}

/* Main Text Content */
.promo .content p {
    max-width: none;
}
.promo .content p[class~="dropcap"]:first-of-type::first-letter {
    float: left;
    font-size: 45px;
    line-height: 1;
    font-weight: bold;
    margin-right: 5px;
}