<link rel="stylesheet" type="text/css" media="screen" href="/static/css/Loading.css">

<div class="loading" id="loading">
    <div class="loading-rotary">
        <div class="rotary"></div>
    </div>
    <p class="loading-x">x</p>
</div>